@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #40aec7;
  font-family: 'Rubik', sans-serif; }

button {
  padding: 6px 22px;
  margin: 8px;
  font-size: 1rem;
  border-radius: 100px;
  border: 3px solid black;
  cursor: pointer; }

.grid-container {
  display: grid;
  grid-template-rows: 6% 8% 48% 10%;
  justify-content: center;
  max-height: 800px; }

#score {
  display: none; }

.score-text {
  font-size: 1rem;
  padding: 10px 0;
  text-align: left;
  margin-bottom: 450px; }

#top-message {
  font-size: 1.3rem;
  text-align: center;
  height: 30px;
  margin-top: 50px; }

#bottom-message {
  padding: 10px 0;
  text-align: center; }

.game-over {
  font-size: 1.3rem; }

#kitty {
  max-height: 600px;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: -100px;
  margin-top: -50px; }

#replay-btn {
  display: none;
  margin: 10px auto; }

#reset-btn {
  display: none;
  margin: 10px auto; }

#head {
  width: 300px;
  height: 300px;
  background-color: #d8d8d8;
  border-radius: 200px;
  display: flex;
  flex-flow: row; }

#left-eye {
  background-color: #323333;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-width: 10px;
  border-radius: 100px;
  border-color: white;
  position: relative;
  bottom: 220px;
  left: 53px; }

#right-eye {
  background-color: #323333;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-width: 10px;
  border-radius: 100px;
  border-color: white;
  position: relative;
  bottom: 280px;
  left: 196px; }

#nose {
  background-color: #dea4d0;
  height: 25px;
  width: 32px;
  border-radius: 50%;
  position: relative;
  bottom: 256px;
  left: 138px; }

.ears {
  display: flex; }
  .ears #left-ear {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 120px solid #d8d8d8;
    transform: rotate(319deg) translateY(42px) translateX(-87px); }
  .ears #right-ear {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 120px solid #d8d8d8;
    transform: rotate(166deg) translateY(-147px) translateX(-60px); }

#nose:hover {
  animation: shake 700ms; }

#left-ear:hover {
  animation: wiggleLeft 700ms; }

#right-ear:hover {
  animation: wiggleRight 700ms; }

#left-eye:hover, #right-eye:hover {
  animation: blink 100ms; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }

@keyframes wiggleLeft {
  50% {
    transform: rotate(315deg) translateY(42px) translateX(-87px) scale(0.9); } }

@keyframes wiggleRight {
  50% {
    transform: rotate(169deg) translateY(-147px) translateX(-60px) scale(0.9); } }

@keyframes blink {
  from {
    opacity: 1.0; }
  50% {
    opacity: 0; }
  to {
    opacity: 1.0; } }
