@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

$color-primary: #d8d8d8;
$color-background: #40aec7;

$color-eyes: #323333;
$color-nose: #dea4d0;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: $color-background;
  font-family: 'Rubik', sans-serif;
}

button {
  padding: 8px 26px;
  margin: 12px;
  font-size: 1.8rem;
  border-radius: 100px;
  border: 3px solid black;
}

.grid-container {
  display: grid;
  grid-template-rows: 10% 10% 70% 10%;
  justify-content: center;
}

#score {
  display: none;
}

.score-text {
  font-size: 1.5rem;
  padding: 10px 0;
  text-align: left;
}

#top-message {
  font-size: 2rem;
  padding-top: 85px;
  text-align: center;
}

#bottom-message {
  padding: 10px 0;
  text-align: center;
}

.game-over {
  font-size: 2rem;
}

#kitty {
  max-height: 600px;
  max-width: 700px;
  margin: 0 auto;
}

#replay-btn {
  display: none;
  margin: 10px auto;
}

#reset-btn {
  display: none;
  margin: 10px auto;
}

#head {
  width: 400px;
  height: 400px;
  background-color: $color-primary;
  border-radius: 200px;

  display: flex;
  flex-flow: row;
}

#left-eye{
  background-color: $color-eyes;
  height: 60px;
  width: 60px;
  border-style: solid;
  border-width: 10px;
  border-radius: 100px;
  border-color: white;

  position: relative;
  bottom: 280px;
  left: 80px;
}

#right-eye{
  background-color: $color-eyes;
  height: 60px;
  width: 60px;
  border-style: solid;
  border-width: 10px;
  border-radius: 100px;
  border-color: white;

  position: relative;
  bottom: 355px;
  left: 250px;
}

#nose {
  background-color: $color-nose;
  height: 35px;
  width: 45px;
  border-radius: 50%;

  position: relative;
  bottom: 325px;
  left: 181px;
}

.ears {
  display: flex;
  #left-ear {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    
    border-bottom: 130px solid $color-primary;
    transform: rotate(325deg) translateY(60px) translateX(-80px);
  }
  
  #right-ear {
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    
    border-bottom: 130px solid $color-primary;
  
    transform: rotate(160deg) translateY(-160px) translateX(-70px);
  }
}

#nose:hover {
  animation: shake 700ms;
}

#left-ear:hover {
  animation: wiggleLeft 700ms;
}

#right-ear:hover {
  animation: wiggleRight 700ms;
}

#left-eye:hover, #right-eye:hover {
  animation: blink 100ms;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes wiggleLeft {
  50% {
    transform: rotate(328deg) translateY(83px) translateX(-65px)
  }
}

@keyframes wiggleRight {
  50% {
    transform: rotate(155deg) translateY(-160px) translateX(-50px) scale(.9);
  }
}

@keyframes blink {
  from { opacity: 1.0; }
  50% { opacity: 0; }
  to { opacity: 1.0; }
}


