@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

$color-primary: #d8d8d8;
$color-background: #40aec7;

$color-eyes: #323333;
$color-nose: #dea4d0;

$breakpoint-small: 668px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-color: $color-background;
  font-family: 'Rubik', sans-serif;
}

body{
  padding: 0 12%;
}


button {
  padding: 6px 22px;
  margin: 8px;
  font-size: 1rem;
  border-radius: 100px;
  border: 2px solid $color-eyes;
  cursor: pointer;
  transition: .55s;

  &:hover,
  &:focus { 
    border-color: rgba(255, 255, 255, 0.801);
    transform: scale(1.1);   
  }
}

h4 {
  margin: 20px auto;
}

input {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Rubik', sans-serif;
}

select {
  padding: 7px 3px;
  font-family: 'Rubik', sans-serif;
}

.winning-score {
  margin-top: 10px;
  text-transform: uppercase;
}

.title {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
}

.start-screen {
  max-width: 500px;
  margin: 20px auto;
}

.img-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.cat-thumbnail {
  width: 145px;
  margin-right: 20px;
  cursor: pointer;

  &:hover {
    animation: shake 1s;
  }
}

.grid-container {
  display: none;
  grid-template-rows: 6% 8% 48%;
  justify-content: left;
  max-height: 600px;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 0;
}

#top-message {
  font-size: 1.5rem;
  text-align: center;
  height: 30px;
  max-width: 500px;
  margin-top: 60px;
  display: none;
  text-transform: uppercase;
  padding-left: 100px;
}

#score {
  display: none;
  padding: 10px auto;
  width: 100px;
}

.score-text {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 450px;
  width: 100px;
}

#bottom-message {
  padding: 10px 0;
  text-align: center;
  margin-top: 100px;
  padding-left: 100px;
}

.game-over {
  font-size: 1.3rem;
}

#kitty {
  max-height: 600px;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: -100px;
  margin-top: -50px;
  padding-left: 100px;
}

#replay-btn {
  display: none;
  margin: 10px auto;
}

#reset-btn {
  display: none;
  margin: 10px auto;
}

#head {
  width: 300px;
  height: 300px;
  background-color: $color-primary;
  border-radius: 200px;
  z-index: 0;

  display: flex;
  flex-flow: row;
}

#left-eye{
  background-color: $color-eyes;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-width: 10px;
  border-radius: 100px;
  border-color: white;

  position: relative;
  bottom: 220px;
  left: 60px;

  &:hover {
    animation: blink 100ms;
  }
}

#right-eye{
  background-color: $color-eyes;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-width: 10px;
  border-radius: 100px;
  border-color: white;

  position: relative;
  bottom: 280px;
  left: 188px;

  &:hover {
    animation: blink 100ms;
  }
}

#nose {
  background-color: $color-nose;
  height: 30px;
  width: 36px;
  border-radius: 50%;
  z-index: 1;

  position: relative;
  bottom: 253px;
  left: 135px;

  &:hover {
    animation: shake 700ms;
  }
}

#mouth-left {
  border-left: 6px solid $color-eyes;
  height: 50px;
  width: 0;
  transform: rotate(30deg);
  z-index: 0;

  position: relative;
  bottom: 266px;
  left: 141px;

  &:hover {
    animation: mouthMoveLeft 700ms;
  }
}

#mouth-right {
  border-left: 6px solid $color-eyes;
  height: 50px;
  width: 0;
  transform: rotate(150deg);
  z-index: 0;

  position: relative;
  bottom: 315px;
  left: 160px;

  &:hover {
    animation: mouthMoveRight 700ms;
  }
}

.ears {
  display: flex;
  #left-ear {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;

    border-bottom: 120px solid $color-primary;
    transform: rotate(319deg) translateY(42px) translateX(-87px);

    &:hover {
      animation: wiggleLeft 700ms;
    }
  }
  
  #right-ear {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    
    border-bottom: 120px solid $color-primary;
  
    transform: rotate(166deg) translateY(-147px) translateX(-60px);

    &:hover {
      animation: wiggleRight 700ms;
    }
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes wiggleLeft {
  50% {
    transform: rotate(315deg) translateY(42px) translateX(-87px) scale(.9);
  }
}

@keyframes wiggleRight {
  50% {
    transform: rotate(169deg) translateY(-147px) translateX(-60px) scale(.9);
  }
}

@keyframes blink {
  from { opacity: 1.0; }
  50% { opacity: 0; }
  to { opacity: 1.0; }
}

@keyframes mouthMoveLeft {
  50% {
    transform: rotate(39deg);
  }
}

@keyframes mouthMoveRight {
  50% {
    transform: rotate(140deg);
  }
}

@media (max-width: $breakpoint-small) {
  #top-message, #kitty, #bottom-message {
    padding-left: 12%;
  }
  .img-wrapper {
    flex-flow: column;
    margin: 20px;
  }
}